<h1>Notes for <%= @book.title %></h1>

<%= link_to "Add New Note", new_book_note_path(@book), class: "btn btn-primary" %>

<ul>
  <% @notes.each do |note| %>
    <li>
      <strong>Content:</strong> <%= note.content %> <br>
      <strong>Created By:</strong> <%= note.user.username %>
      <%= link_to "Edit", edit_book_note_path(@book, note) %> |
      <%= link_to "Delete", book_note_path(@book, note), method: :delete, data: { confirm: "Are you sure?" } %>
    </li>
  <% end %>
</ul>
