<h1>Add a New Book</h1>

<%= form_with model: @book, local: true do |form| %>
  <%= form.label :title %>
  <%= form.text_field :title %>

  <%= form.label :author %>
  <%= form.text_field :author %>

  <%= form.label :genre %>
  <%= form.text_field :genre %>

  <%= form.label :status %>
  <%= form.select :status, ["reading", "completed"], prompt: "Select Status" %>

  <%= form.label :book_club_id, "Select Book Club (Optional)" %>
  <%= form.select :book_club_id, options_for_select(@book_clubs.collect { |bc| [bc.name, bc.id] }, prompt: "Choose a Book Club (Optional)"), include_blank: true %>

  <%= form.submit "Add Book", class: "btn btn-success" %>
<% end %>

